/* This file was adapted from https://github.com/helix-editor/helix/blob/master/runtime/themes/gruvbox.toml
 *
 * This is the gruvbox colorscheme with automatic switching between light and dark mode
 */

:root {
	--bg0: #fbf1c7;
	--bg1: #ebdbb2;
	--bg2: #d5c4a1;
	--bg3: #bdae93;
	--bg4: #a89984;

	--fg0: #282828;
	--fg1: #3c3836;
	--fg2: #504945;
	--fg3: #665c54;
	--fg4: #7c6f64;

	--gray0: #7c6f64;
	--gray1: #928374;

	--red0: #cc241d;
	--green0: #98971a;
	--yellow0: #d79921;
	--blue0: #458588;
	--purple0: #b16286;
	--aqua0: #689d6a;
	--orange0: #d65d0e;

	--red1: #9d0006;
	--green1: #79740e;
	--yellow1: #b57614;
	--blue1: #076678;
	--purple1: #8f3f71;
	--aqua1: #427b58;
	--orange1: #af3a03;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg0: #282828;
		--bg1: #3c3836;
		--bg2: #504945;
		--bg3: #665c54;
		--bg4: #7c6f64;

		--fg0: #fbf1c7;
		--fg1: #ebdbb2;
		--fg2: #d5c4a1;
		--fg3: #bdae93;
		--fg4: #a89984;

		--gray0: #a89984;

		--red1: #fb4934;
		--green1: #b8bb26;
		--yellow1: #fabd2f;
		--blue1: #83a598;
		--purple1: #d3869b;
		--aqua1: #8ec07c;
		--orange1: #fe8019;
	}
}

html {
  background-color: var(--bg0);
  color: var(--fg1);
}

code .attribute {
  color: var(--aqua1);
}

code .keyword {
  color: var(--red1)
}

code .keyword.directive {
  color: var(--red0);
}

code .namespace {
  color: var(--aqua1);
}

code .punctuation {
  color: var(--orange1);
}

code .punctuation.delimiter {
  color: var(--orange1);
}

code .operator {
  color: var(--purple1);
}

code .property {
  color: var(--blue1);
}

code .special {
  color: var(--purple0);
}

code .variable.other.member {
  color: var(--blue1);
}

code .variable {
  color: var(--fg1);
}

code .variable.builtin {
  color: var(--orange1);
}

code .variable.parameter {
  color: var(--fg2);
}

code .type {
  color: var(--yellow1);
}

code .type.builtin {
  color: var(--yellow1);
}

code .constructor {
  color: var(--purple1);
  font-weight: bold;
}

code .function {
  color: var(--green1);
  font-weight: bold;
}

code .function.macro {
  color: var(--aqua1);
}

code .function.builtin {
  color: var(--yellow1);
}

code .tag {
  color: var(--red1);
}

code .comment {
  color: var(--gray1);
  font-style: italic
}

code .constant {
  color: var(--purple1)
}

code .constant.builtin {
  color: var(--purple1);
  font-weight: bold;
}

code .string {
  color: var(--green1);
}

code .constant.numeric {
  color: var(--purple1);
}

code .constant.character.escape {
  color: var(--fg2);
  font-weight: bold;
}

code .label {
  color: var(--aqua1);
}

code .module {
  color: var(--aqua1);
}

code .markup.heading {
  color: var(--aqua1);
}

code .markup.bold {
  font-weight: bold;
}

code .markup.italic {
  font-style: italic;
}

code .markup.link.url {
  color: var(--green1);
  text-decoration: underline;
}

code .markup.link.text {
  color: var(--red1);
}

code .markup.raw {
  color: var(--red1);
}
